@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    color: #1b0a1d;
    margin: 0;
    background-image: url("../images/pinksun1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    font-size: 1.7rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #1b0a1d;
}

img {
    width: 100%;
}

.spacer {
    height: 65vw;
    width: 100%;
}

#nav {
    padding-top: 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 60%;
}
#nav li {
    float: left;
}

#nav a {
    font-size: 1.8rem;
    display: block;
    color: white;
    padding: .3em .3em;
    text-decoration: none;
}

#nav a:hover {
    background-color: gray;
}

#hero * {
    margin: 0;
}

#bio-section {
    margin: 0;
}

#bio-section img {
    width: 75%;
}

#bio * {
    list-style-type: none;
    margin: 0;
}

#bio img {
    padding: 2em;
    width: 48px;
    height: 48px;
}


#interests-section * {
    margin: 0;
}

#interest-list div {
    margin-bottom: 2.5em;
}

#interests-section img {
    width: 96px;
    height: 96px;
}

#exp-section h1 {
    margin-bottom: 1em;
}

.exp {
    margin-bottom: 4em;
}

.exp img {
    width: 50%;
    height: auto;
}

#proj-section h1 {
    margin-bottom: 1em;
}

.proj {
    margin-bottom: 4em;
}

.proj img {
    width: 60%;
    height: auto;
}

@media (min-width: 730px) {
    section {
        margin-left: 10%;
        margin-right: 10%;
    }

    #bio {
        margin-left: 10%;
        margin-right: 10%;
    }

    .spacer {
        height: 50vw;
    }
}

@media (min-width: 930px) {
    section {
        margin-left: 15%;
        margin-right: 15%;
    }

    .spacer {
        height: 26em;
    }

    #bio-section {
        margin-left: 15%;
        margin-right: 15%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    #bio-section img {
        width: 100%;
        height: auto;
    }

    #bio {
        text-align: left;
        margin-left: 1em;
    }

    #bio img {
        width: 48px;
    }

    #interests-section {
        margin-left: 8%;
        margin-right: 8%;
    }

    #interest-list {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    #interest-list div {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0;
    }

    .exp {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 8em;
    }

    .exp img {
        width: 60%;
    }

    .exp div {
        text-align: left;
        margin-left: 2em;
        margin-right: 2em;
    }

    .right img {
        order: 2;
        padding-left: 40%;
    }

    .proj {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 8em;
    }
    
    .proj img {
        width: 100%;
        height: auto;
    }

    .proj div {
        text-align: left;
        margin-left: 1em;
    }
}